body {
  background: linear-gradient(to bottom right, rgba(29, 144,12,1), rgba(133, 255, 90, .6));
  color: #FFFFFF;
  font-size: 1.5em;
  text-align: center;
  
}
h1, h2 {
  font-size: 5em;
  text-align: center;
  color: red;
  text-shadow:
		-1px -1px 0 #FFFFFF,
		1px -1px 0 #FFFFFF,
		-1px 1px 0 #FFFFFF,
		1px 1px 0 #FFFFFF 

}
h2 {
  font-size: 3em;
  margin-bottom: 30px;
}

header h2 {
  margin-bottom: 50px;
}
img {
  max-width: 200px;
  margin-top: 20px;
}

article {
  float:left;
  width: 30%;
  height: 700px;
  border: double 4px white;
  margin: 10px;
  padding: 6px;
}

p {
  margin-bottom: 20px;
}

li {
  padding: 10px;
}

table {
  border: 4px double red;
  text-align: center;
  margin: 0 auto;

}
th {
  border-bottom: 4px double red;
  padding: 10px;
}
td {
  border: 1px solid white;
  padding: 10px;
}