* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(to bottom right, rgb(166, 198, 199), rgba(166, 199, 241, 0.849));
  color: #FFFFFF;
  font-size: 1.5em;
  text-align: center;
  
}
h1, h2 {
  font-size: 5em;
  text-align: center;
  color: rgb(47, 78, 126);
  text-shadow:
		-1px -1px 0 #FFFFFF,
		1px -1px 0 #FFFFFF,
		-1px 1px 0 #FFFFFF,
		1px 1px 0 #FFFFFF 

}
h2 {
  font-size: 3em;
  margin-bottom: 30px;
}

header h2 {
  margin-bottom: 50px;
}
img {
  max-width: 200px;
  margin-top: 20px;
}

article {
  float:left;
  width: 30%;
  height: 700px;
  border: double 6px white;
  border-radius: 10px;
  background: linear-gradient(to bottom right, rgb(153, 153, 160), rgb(187, 187, 190), rgb(153, 153, 160));
  margin: 10px;
  padding: 6px;
}

p {
  margin-bottom: 20px;
}

li {
  padding: 10px;
}

table {
  border: 4px double white;
  text-align: center;
  margin: 40px auto 40px;
  background: linear-gradient(to bottom right, rgb(153, 153, 160), rgb(187, 187, 190), rgb(153, 153, 160));
  font-size: 2rem;
}

th {
  border-bottom: 4px double white;
  padding: 20px;
}

td {
  border: 1px solid white;
  padding: 20px;
}

form {
  background: linear-gradient(to bottom right, rgb(153, 153, 160), rgb(187, 187, 190), rgb(153, 153, 160));
  font-size: 1.5rem;
  border: 4px double white;
  margin: 30px;
  border-radius: 10px;
}

legend {
  font-size: 2em;
  text-align: center;
  color: rgb(47, 78, 126);
  margin-bottom: 10px;
  text-shadow:
		-1px -1px 0 #FFFFFF,
		1px -1px 0 #FFFFFF,
		-1px 1px 0 #FFFFFF,
		1px 1px 0 #FFFFFF 
}

form fieldset {
  display: block;
  margin: 10px;
}

button {
  color: #fff;
  background-color: rgb(47, 78, 126);
  font-size: 1rem;
}

form span {
  font-size: .5rem;
} 