body {
  background: linear-gradient(to bottom right, rgba(29, 144,12,1), rgba(133, 255, 90, .6));
  color: #FFFFFF;
  font-size: 1.5em;
  text-align: center;
  
}
h1, h2 {
  font-size: 5em;
  text-align: center;
  color: red;
  text-shadow:
		-1px -1px 0 #FFFFFF,
		1px -1px 0 #FFFFFF,
		-1px 1px 0 #FFFFFF,
		1px 1px 0 #FFFFFF 

}
h2 {
  font-size: 3em;
}
img {
  max-width: 200px;
}